ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: grey;
}


.search {
    width: 450px;
    height: 30px;
    border-radius: 25px;    
}

.search:hover {
    box-shadow: 2px 2px;
}

.buttons {
    margin-top: 20px;
}

.buttons input:hover {
    border: 1px solid grey;
}

.left-nav {
    float: left;
}

.left-nav li {
    float: left;
    margin-left: 5px;
    margin-right: 5px;
}

.right-nav {
    float: right;
}

.right-nav li {
    float: right;
    margin-left: 5px;
    margin-right: 5px;
}

#main {
    width: 50%;
    margin: 0 auto;
    
}